@import 'sass_variables';
// Text
.text-black {
  color: $black;
}

.text-gray {
  color: $gray;
}

.text-grey {
  color: $gray;
}

.text-white {
  color: $white;
}

.text-red {
  color: $red;
}

.text-blue {
  color: $blue;
}

.text-yellow {
  color: $yellow;
}

.text-green {
  color: $green;
}

// Backgrounds
.bg-black {
  color: $black;
}

.bg-gray {
  color: $gray;
}

.bg-grey {
  color: $gray;
}

.bg-white {
  color: $white;
}

.bg-red {
  color: $red;
}

.bg-blue {
  color: $blue;
}

.bg-yellow {
  color: $yellow;
}

.bg-green {
  color: $green;
}

