@import 'sass_variables';
@mixin callout-color($background, $color) {
  background-color: $background;
  border: {
    width: 1em;
    style: solid;
    color: $color;
    border-radius: 16px;
  }
}

.red or [data-call="red"] {
  @include callout-color(#cc4e52, #cc2929);
}
