@import 'sass_variables';
@mixin callout-color($background, $color) {
  background-color: $background;
  text-align: center;
  border: {
    width: 1em;
    style: solid;
    color: $color;
    radius: 16px;
  }
}

.callout {
  [data-call="red"] {
    @include callout-color(#cc4e52, #cc2929);
  }
  [data-call="blue"] {
    @include callout-color(#4e85cc, #296acc )
  }
  [data-call="green"] {
    @include callout-color(#4ecc4e, #37cc29)
  }
}

