.navbar {
  .brand {
    img {
      text-decoration: none;
    }
  }
  ul.navlist {
    li.nav-item {
        .nav-link {
          text-decoration: none;
          &.active {
            &:hover {
              border: 10px #5e5e5e;
              font-weight: bold;
            }
          }
      }
    }
  }
}
