@import 'sass_variables';
.container {
    .flex {
        display: flex;
    }
   .center {
        margin: auto;
        width: 50%;
    }
    .right {
        float: right;
    }
    .left {
        float: left;
    }
}